<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Offer Details</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="container mt-5">
<main layout:fragment="content" class="container mt-5">

<h2 class="mb-4">Offer Details</h2>

<div class="card p-4 shadow-sm">

    <h3 th:text="${offer.title}"></h3>

    <p><strong>Description:</strong></p>
    <p th:text="${offer.description}"></p>

    <p><strong>Job Type:</strong>
        <span th:text="${offer.type}"></span>
    </p>

    <p><strong>Experience Required:</strong>
        <span th:text="${offer.experience}"></span>
    </p>

    <p><strong>Location:</strong>
        <span th:text="${offer.location}"></span>
    </p>

    <p><strong>Salary:</strong>
        <span th:text="${offer.salary}"></span>
    </p>

    <p><strong>Posted by:</strong>
        <span th:text="${offer.company.name}"></span>
    </p>

    <a href="/api/joboffers" class="btn btn-secondary mt-3">Back</a>

</div>
</main>
</body>
</html>
